
@{
    ViewBag.Title = "check_for_validation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <b>
        There are two ways to get this information:
    </b>
<ol>

    <li>

        
         NADRA provides SMS service for the public to facilitate the eligible voters to check their registration status. Public can get the information by entering CNIC number and sending the text message to the number 8300. An automated response will be received in this regard with the name of electoral area, block code and serial number.



    </li>
    <li>
         Every registered voter can check his/her particulars by visiting their respective District Election Commissioner’s office, where the final electoral roll is available.
    </li>


</ol>

