
@{
    ViewBag.Title = "how_to_vote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<b>
    vote casting through GEMS is  followed by following procedure

</b>

<ol>

    <li>Input CNIC</li>
    <li>thumb Verification + face Recognition</li>
    <li>
        Select Party
    </li>
    <li>Select Symbol</li>
    <li>Cast Vote</li>

</ol>