
@{
    ViewBag.Title = "howtoregister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <b>    VOTER REGISTERATION AS PER SECTION 27 OF ELECTION ACT 2017</b>
<p>




    You can submit your application along with a copy of CNIC to the District Election Commissioner (DEC)/ Registration Officer/Assistant Registration Officer of the district where you want to get your name enrolled. The prescribed Form (Enrolment / Transfer of Vote) is available online at the ECP website or they can be obtained free of cost from the office of the District Election Commissioner / Registration Officer OR Assistant Registration Officer/Display Centre Incharge.




</p>


      <b>Information and Complaint Centres for Electoral Rolls and Offices of Registration Officers / District Election Commissioners</b>

<b>
    <ol>

        <li>Punjab</li>
        <li>Sindh</li>
        <li>Khyber pakhtonkhwan</li>
        <li>Balochistan</li>



    </ol>
    
</b>